.main {
  background-color: #fff;
  width: calc(100% - 330px);
  height: calc(100vh - 75px);
  position: absolute;
  left: 310px;
  top: 75px;
}

.main__title {
  position: absolute;
  top: -2.4rem;
  left: 0;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  padding-left: 1.2rem;
  line-height: 1.6;
  text-transform: capitalize;
}

.main__title::before {
  content: '';
  width: 3px;
  height: 100%;
  background-color: #cddc39;
  border-radius: 2px;
  position: absolute;
  left: 0;
  top: 0;
}

@media (max-width: 992px) {
  .main {
    position: static;
    width: 95%;
    margin-left: 60px;
  }
  .main__close {
    display: none;
  }
}
